@model IEnumerable<SportsSite.Web.Models.ArticleConciseViewModel>

@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="row">
    @for (int i = 0; i < 6; i++)
    {
        var article = Model.ElementAt(i);
        <a href="@Url.Action("Details", "Articles", new { article.Id })">
            <div class="col-md-4">
                <div style="height:40px">
                    <h4>@article.Title</h4>
                </div>
                <div>               
                    <img src="@article.ImageUrl" style="width:100%; height:100% " />               
                </div>
            </div>
         </a>
        if (i > 0 && (i + 1) % 3 == 0)
        {
            @: </div>
            @:<div class="row">
        }
    }
</div>

<br />
<br />
<br />

@for (int i = 6; i < Model.Count(); i++)
{
    var article = Model.ElementAt(i);

    <div class="row">
        <a href="@Url.Action("Details", "Articles", new { article.Id })">
            <div class="col-md-4" align="right">
                <img src="@article.ImageUrl" style="width:75%; height:75%" />
            </div>
            <div class="col-md-8">
                <h4>@article.Title</h4>
                <div>@article.Date</div>
            </div>
        </a>
    </div>
    <br />
}
        