@model SportsSite.Web.Models.ArticleFullViewModel
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-10">
        <h1>@Model.Title</h1>
        <div><em>@Model.Date</em></div>
        <div><em>@Model.Category</em></div>
        <img src="@Model.ImageUrl" style="width:80%; height:80% " />
        <div>@Model.Content</div>
    </div>
</div>
<br />

@*<div id="Comments">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment)
    }
</div>*@

@if (User.Identity.IsAuthenticated)
{
    using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Comments", OnFailure = "commentPostFailure" }))
    {
        @Html.Hidden("ArticleId", Model.Id)
        @Html.TextArea("comment")
        @Html.AntiForgeryToken()
        <br />
        <input type="submit" value="Submit comment" />
    }
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function commentPostFailure() {
            alert("Error");
        }
    </script>
}
