<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="container-fluid" >
                <div class="navbar-header" >
                    @Html.ActionLink("SPORT.BG", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })                    
                </div>
                <div>

                </div>
                <ul class="nav navbar-nav navbar-left">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("ADMINISTRATION", "Index", "ArticlesAdministration")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ФУТБОЛ", "FootballArticles", "Articles")</li>
                    <li>@Html.ActionLink("БАСКЕТБОЛ", "BasketballArticles", "Articles")</li>
                    <li>@Html.ActionLink("ВОЛЕЙБОЛ", "VolleyballArticles", "Articles")</li>
                    <li>@Html.ActionLink("ТЕНИС", "TennisArticles", "Articles")</li>
                    <li>@Html.ActionLink("ЛЕКА АТЛЕТИКА", "AthleticsArticles", "Articles")</li>
                    <li>@Html.ActionLink("БОЙНИ СПОРТОВЕ", "FightSportsArticles", "Articles")</li>
                    <li>@Html.ActionLink("ЗИМНИ СПОРТОВЕ", "WinterSportsArticles", "Articles")</li>
                    <li>@Html.ActionLink("МОТОРНИ СПОРТОВЕ", "MotorSportsArticles", "Articles")</li>
                    <li>@Html.ActionLink("ДРУГИ", "OtherArticles", "Articles")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - SPORT.BG</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
